body{
  background-image: url(https://cdn.glitch.global/92cac115-8e54-40a2-9824-c7c33b90427f/Heart.jpg?v=1698950690837)
}
p{
  font-size: 3em;
  font-family: lucida console;
  color: black;
  text-align: center;
}
img{
  align-self: center;
}

